body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav, footer {
  background: #00bfff;
  padding: 0 20px;
}
nav ul, footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li, footer ul li {
  margin: 0 50px 0 0;
}

nav ul li:last-child, footer ul li:last-child {
  margin-right: 0;
}
nav ul li a, footer ul li a {
  color: #fff;
  text-decoration: none;
  padding: 14px 0;
  display: block;
  transition: 
    color 0.2s,
    background 0.4s,
    box-shadow 0.4s,
    border-radius 0.4s,
    transform 0.4s,
    padding 0.4s;
  font-size: 1.3rem;
}

nav ul li a:hover, footer ul li a:hover {
  color: #003366;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transform: scale(1.12);
  padding: 14px 18px;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}